

#bienvenida{
    
    
    text-align: center;
    color: rgb(17, 14, 192);
    font-style:initial
    
}
#texto{
    
    text-align: center;
    font-style:inherit;
    color: rgb(15, 15, 15);
    
}
#ambito{

    text-align: left;
}


    

#logo{
    
    text-align: center;
    font-style: oblique;
}

#imagen{

    width: 800px;
    margin:auto ;
    display: block;
}
