

#bienvenida{
    
    
    text-align: center;
    color: rgb(17, 14, 192);
    font-style:initial
    
}
#texto{
    
    text-align: center;
    color: rgb(15, 15, 15);
    
}
#ambito{
    color: rgb(3, 3, 3);

    
}
#logo{
    
    text-align: center;
    font-style: oblique;
}

#imagen{

    width: 800px;
    margin:auto ;
    display: block;
}
